@unxwares:registry=https://lib.external.infra.unxwares.com/api/npm/unxwares/ui-js/
//lib.external.infra.unxwares.com/api/npm/unxwares/ui-js/:_authToken=pat_eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIwM2U3NWY4YS01YjQxLTQ2ZjctOTgzOC1kYjA1MTBiMTUyZGUiLCJwZXJzb25hbEFjY2Vzc1Rva2VuSWQiOiJjNmQ5MmZkZC05NTk3LTRlYzEtOWM0Ni0yM2RkNTFkMDNkYWIiLCJpYXQiOjE3NzI0NDEwNjMsImV4cCI6MTc5MDM3MzU5OX0.KYkVt5YdFnftIySy7pIEcnmXXpyCo0ueY5qwDPHWj9c
