@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

@font-face {
    font-family: Peanut;
    src: url("/src/fonts/Peanut Butter.ttf");
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

main{
    background-color: #ffffff;
    margin:0;
    padding: 120px 0 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

main > *{
    width: 65%;
    max-width: 1064px;
}
@media (max-width: 548px) {
    main > * {
        width: 75%;
    }
}
@media (max-width: 406px) {
    main > * {
        width: 85%;
    }
}
@media (max-width: 310px) {
    main > * {
        width: 90%;
    }
}
p{
    text-align: justify;
    text-justify: inter-word;
    word-spacing: -0.05em;
}
h2, h3{
    text-align: justify;
    text-justify: inter-word;
}
h1{
    text-align: center;
}